html h1 {
    font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}


address, caption, cite, code, dfn, em, i, strong, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}

h1 {
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}

#db-nav-movie {
    position: relative;
    background-color: #f0f3f5;
}
.nav {
    width: 100%;
    min-width: 1040px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 40px;
}

.nav .nav-primary {
    width: 1040px;
    margin: 0 auto;
    overflow: visible !important;
    position: relative;
    padding: 10px 0 5px;
    zoom: 1;
}

.nav .nav-logo {
    float: left;
    height: 56px;
    width: 145px;
    margin: 0 13px 0 0;
}

#db-nav-movie .nav-logo {
    background: url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie_a12_2.png) no-repeat 0 12px;
    background-image: -webkit-image-set(url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie_a12_2.png) 1x, url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie@2x.png) 2x);
    background-image: -moz-image-set(url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie_a12_2.png) 1x, url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie@2x.png) 2x);
    background-image: -ms-image-set(url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie_a12_2.png) 1x, url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie@2x.png) 2x);
    background-image: -o-image-set(url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie_a12_2.png) 1x, url(//img3.doubanio.com/dae/accounts/resources/527f922/movie/assets/lg_movie@2x.png) 2x);
}

#db-nav-movie a:link, #db-nav-movie a:visited {
    color: #27a;
    text-decoration: none;
}
.nav .nav-logo a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 100em;
}

#wrapper {
    color: #111;
}
#wrapper {
    width: 950px;
    margin: 0 auto;
}

#wrapper {
    width: 1040px;
}

.year {
    display: inline-block;
    zoom: 1;
}

h1 .year {
    color: #888;
}

.subject #mainpic {
    margin-right: 15px;
}
#mainpic {
    margin: 3px 0 0 0;
    float: left;
    text-align: center;
    margin: 3px 12px 0 0;
    max-width: 155px;
    overflow: hidden;
}

#mainpic img {
    max-width: 135px;
    margin-bottom: 10px;
}

#comments-section .mod-hd h2 {
    margin-top: 0;
}


h2 {
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
}

#content h2 {
    color: #007722;
}

#comments-section .comment-item {
    padding: 14px 0;
}

div.comment-item h3 {
    background: none;
    font-size: 13px;
    height: auto;
    margin: 0;
    padding: 0;
    color: #494949;
    margin-bottom: 5px;
    *zoom: 1;
}
.comment-item h3 {
    margin: 1.5em 0 1em 0;
    height: 1.7em;
    line-height: 1.7em;
    padding-left: 4px;
}

.comment-item .rating {
    float: right;
}